node_modules/
.expo/
dist/
web-build/
ios/
android/

.env
.env.local
.env.*.local

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.log
.vscode/
.idea/
.cursor/

# macOS
*.pem

# Local Supabase
supabase/.branches/
supabase/.temp/

# TS
*.tsbuildinfo
expo-env.d.ts
